h1 {
  text-align: center;
  display: block;
}

#duplicate-button {
  margin: auto;
  color: #fff;
  background: #1565c0;
  border-radius: 100vh;
}

#next_battle_btn {
  margin-top: auto;
  height: 4rem;
}