h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 1rem;
  line-height: 1.2;
}

#duplicate-button {
  margin: auto;
  color: #fff;
  background: #1565c0;
  border-radius: 100vh;
}

#next_battle_btn {
  margin-top: auto;
  height: 4rem;
}